.about-us-nav {
  margin-top: 20px;

  a {
    padding: 20px 8px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #0fb4dd;
  }
}

.Mission,
.CustomerCare {
  width: auto;
  margin-top: 20px;
  padding: 100px;
  background-color: whitesmoke;
}